# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.log
npm-debug.log*

# Java / Maven / Backend
backend/target/
target/
.mvn/wrapper/maven-wrapper.jar

# Editors & System
.idea/
.vscode/
.DS_Store
*.swp
*.suo
*.user
